.App {
  text-align: center;
}

.footer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 5px;
}

a {
  color: #444;
  margin-right: 10px;
  text-decoration: none;
}

a:hover {
  text-decoration: overline;
}

.git:hover {
  color: #181717;
}

.linkedin:hover {
  color: #0077B5;
}

.twitter:hover {
  color: #1DA1F2;
}

.instagram:hover {
  color: #E4405F;
}

.vk:hover {
  color: #6383A8;
}

.skype:hover {
  color: #00AFF0;
}

.email:hover {
  color: #D14836;
}

.upwork:hover {
  color: #37a000;
}
