.App {
  text-align: center;
}

.footer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 5px;
}

a {
  color: black;
  margin-right: 10px;
  text-decoration: none;
}

a:hover {
  text-decoration: overline;
  color: #0d8c91;
}
